.form-post {
	border-bottom: 1px solid #E5ECF9;
	&__upload,
	&__upload-right,
	&__radios {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__upload {
		margin: 0 0 29px;
	}
	&__radios {
		gap: 19px;
		margin: 0 31px 0 0;
	}
}