.messages-buttons,
.messages-buttons__item {
	display: flex;
	align-items: center;
}
.messages-buttons {
	gap: 27px;
	&__icon {
		margin: 0 6px 0 0;
	}
	&__text {
		margin: 2px 0 0;
		font-size: 12px;
		line-height: 21px;
		letter-spacing: 0.08px
	}
	&__item {
		color: #7791C2;
		cursor: pointer;
		fill: #CDDAF2;
		display: flex;
		align-items: center;
		gap: 5px;
		svg {
			transition: all .2s;
		}
		&:hover {
			color: #1565C0;
			fill: #1565C0;
		}
		&.private {
			color: #1565C0;
			fill: #1565C0;
		}
	}
}