.filter-board {
	border-radius: 10px;
	background: #F8FAFF;
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	&__select-list {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		gap: 12px 20px;
	}
}