.item-list-board {
	position: relative;
	padding: 0 56px 0 41px;
	margin: 0 0 30px;
	&__messages {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		align-items: center;
		gap: 7px;
		font-size: 12px;
		line-height: 21px;
		letter-spacing: 0.08px;
		color: #1565C0;
		fill: #E5ECF9;
	}
	&__title {
		font-weight: 500;
		font-size: 16px;
		line-height: 128.5%;
		color: #272557;
		margin: 0 0 5px;
	}
	&__text {
		font-size: 12px;
		line-height: 128.5%;
		color: #272557;
	}
}